/* Styling for Contact Page */

.contact {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #F5F5F5;
   /* background: linear-gradient(135deg, #f3e7e9, #e3eeff); */


  }
  
  .contact h1 {
    font-size: 2.5em;
    color: #003366;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .contact p {
    font-size: 1.2em;
    color: #333333;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .contact-form label {
    font-size: 1em;
    color: #333333;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #1A5A5D;
    border-radius: 5px;
    background-color: #fff;
    color: #333333;
  }
  
  .contact-form textarea {
    resize: vertical;
    height: 100px;
  }
  
  .contact-form button {
    padding: 10px 20px;
    font-size: 1.1em;
    background-color: #1A5A5D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #FF6F61;
  }
  
  .success-message {
    margin-top: 20px;
    color: #4CAF50;
    font-size: 1.2em;
    text-align: center;
  }
  