/* Contact.css */
.contact-form {
  background-color: #f9f9f9; /* light background for the form */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 20px auto;
}

.contact-form h2 {
  text-align: center;
  color: #003366;
  font-size: 24px;
  margin-bottom: 20px;
}

.contact p {
  font-size: 1.2em;
  color: #333333;
  text-align: center;
  margin-bottom: 40px;
}

.contact-form label {
  font-size: 16px;
  color: #333333;
  margin-bottom: 8px;
  display: block;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #1A5A5D;
  border-radius: 5px;
    color: #333333;
  font-size: 16px;
}

.contact-form textarea {
  resize: vertical;
  height: 150px;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
  color: #aaa;
  font-style: italic;
  font-family: "Crimson Text", 'Times New Roman', Times, serif;
}

input:focus, textarea:focus {
  border-color: #FF6F61; /* Change to the color you want */
  outline: none; /* Removes the default browser outline */
}

.contact-form button {
  background-color: #1A5A5D;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #FF6F61;
}

/* Contact.css */
.status-message {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  text-align: center;
}

.status-message {
  color: #1A5A5D; /* Success color */
}

.status-message.error {
  color: red; /* Error color */
}

