/* Styling for Portfolio page */

.portfolio {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  background-color: #F5F5F5;
}

.portfolio-header {
  text-align: center;
  margin-bottom: 40px;
}

.portfolio-header h1 {
  font-size: 2.5em;
  color: #003366;
  margin-bottom: 10px;
}

.portfolio-header p {
  font-size: 1.2em;
  color: #333333;
}

.skills {
  margin-bottom: 40px;
}

.skills h2 {
  font-size: 2em;
  color: #003366;
  border-bottom: 2px solid #1A5A5D;
  padding-bottom: 10px;
}

.skills-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skills-list li {
  background-color: lightgray;
  border: 2px dashed #1A5A5D;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.1em;
  color: #333333;
}

.projects {
  margin-bottom: 40px;
}

.projects h2 {
  font-size: 2em;
  color: #003366;
  border-bottom: 2px solid #1A5A5D;
  padding-bottom: 10px;
}

.project-card {
  background-color: lightgrey;
  border: 1px solid #1A5A5D;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.project-card h3 {
  font-size: 1.5em;
  color: #003366;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 1.1em;
  color: #333333;
}

.download-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: #003366;
  text-decoration: none;
  border: 2px solid #003366;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;
}

.download-link:hover {
  background-color: #1A5A5D;
  color: #FFFFFF;
}


.aspirations {
  margin-bottom: 40px;
}

.aspirations h2 {
  font-size: 2em;
  color: #003366;
  border-bottom: 2px solid #1A5A5D;
  padding-bottom: 10px;
}

.aspirations p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #333333;
}